<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/static/js/preview-tabler/apexcharts.min.js"></script>
    <script src="/static/js/preview-tabler/jsvectormap.min.js"></script>
    <script src="/static/js/preview-tabler/world.js"></script>
    <script src="/static/js/preview-tabler/world-merc.js"></script>
    <script src="/static/js/preview-tabler/list.min.js"></script>
    <script src="/static/js/preview-tabler/tom-select.base.min.js"></script>
    <script src="/static/js/preview-tabler/tabler.min.js"></script>
    <script src="/static/js/preview-tabler/demo.min.js"></script>
</body>

</html>