<%- include('../partical/header')%>
    <div class="container-fluid py-5">
        <div class="row px-xl-5">
            <div class="col-lg-12 shop-detail-container">
                <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
                    <span class="bg-secondary pr-3">Thông tin cửa hàng</span>
                </h2>
                <div class="row">
                    <div class="col-lg-6">
                        <h2>Giới thiệu về N15 Store</h2>
                        <p> N15 Store là một thương hiệu nổi bật trong lĩnh vực kinh doanh các thiết bị công nghệ điện tử. Chúng tôi ra đời từ niềm
                            đam mê
                            với công nghệ và khát vọng mang đến những sản phẩm hiện đại, tiện ích nhất cho cộng đồng người Việt Nam.</p>

                        <p>Đội ngũ của N15 Store không chỉ là những nhân viên bán hàng thông thường mà còn là những chuyên gia công nghệ. Chúng tôi
                            luôn
                            sẵn sàng tư vấn và hỗ trợ bạn chọn lựa những sản phẩm phù hợp nhất với nhu cầu và mong muốn của mình.</p>

                        <p>Sự hài lòng của khách hàng chính là động lực lớn nhất để N15 Store không ngừng cải tiến và hoàn thiện dịch vụ, mang lại
                            những
                            giá trị tích cực nhất cho người tiêu dùng.</p>

                        <h2>Kinh nghiệm</h2>
                        <p> N15 Store tự hào sở hữu đội ngũ nhân viên giàu kinh nghiệm trong lĩnh vực công nghệ điện tử. Với hơn 5 năm hoạt động trong
                            ngành, chúng tôi cam kết mang đến cho khách hàng trải nghiệm mua sắm tốt nhất, từ sản phẩm chất lượng đến dịch vụ hậu mãi
                            hoàn
                            hảo.</p>
                        <footer>Chúng tôi hy vọng rằng bạn sẽ có những giây phút mua sắm thú vị và hài lòng tại N15 Store.</footer>
                    </div>
                    <div class="col-lg-6">
                        <img src="/static/img/Ảnh Nền/nen2.jpg" class="img-fluid" alt="Shop Detail Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partical/footer')%>